<form action="" class="search_form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Git" [(ngModel)]="username"name="username" (keyup)="findprofile()">
        <input type="text" placeholder="Create a Repo" class="form-control" #myinput>
        <button class="btn btn-sm btn-warning" (click)="createrepo(myinput.value)"><a routerLink="" >Create Repo</a></button>
    </div>
</form>
<div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}} <small>({{profile.login}})</small>
            <span *ngIf="profile.company">, Works at {{profile.company}}</span>
            {{profile.location}}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" class="rounded-circle mr-3 mt-3 img-fluid" alt="avatar image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                        <li class="list-group-item" *ngIf="profile.blog"><a href="profile.blog" target="_blank">{{profile.blog}}</a></li>
                        <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="badge badge-dark">{{profile.followers}} Followers </span>
                            <span class="badge badge-primary">Following {{profile.following}} </span>
                            <span class="badge badge-success">{{profile.public_gists}} Public Gists </span>
                            <span class="badge badge-info">{{profile.public_repos}} Public repos</span>
                        </p>
                        <p>
                         <a href="https://github.com/{{profile.login}}" class="btn btn-success btn-sm" target="_blank">View profile at github</a></p>
                         <h3 class="panel-title">Repositories</h3>
                         <div class="panel-body" *ngFor="let repo of repos">
                                <p>
                                <a (click)="captureRepo(repo)">{{repo.name}}</a>
                                <br>
                                <a href="{{repo.html_url}}" class="btn btn-sm btn-warning mybtn1">View Project</a>
                                <button class="btn btn-sm btn-warning" (click)="deleterepo(repo)" >Delete this Project</button>
                                <button routerLink="favourites" class="btn btn-sm btn-warning" (click)="additem(repo)">Add to Favourites</button>
                                </p>
                            </div>
                    </div>

 
                </div>
 
            </div>
 
        </div>    
 
    </div>
 
</div>

